# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

node_modules
package-lock.json
/.vscode
.pnp
.pnp.js
.yarn/install-state.gz

packages/**/*.d.ts
packages/**/*.js

# misc
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE
*.tsbuildinfo

# tests
test
benchmarks/memory
coverage
.nyc_output
packages/graphql
benchmarks/memory
build/config\.gypi

.npmrc
pnpm-lock.yaml
/.history

# local env files
.env*.local

# next.js
.next/
out/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts