@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0a0a0a;
  --background: #ffffff;
  --blue-prime-600: #253bff;
  --blue-gray-300: #d0d5dd;
  --blue-gray-500: #667085;
  --blue-gray-800: #1d2939;
  --blue-gray-900: #101828;
  --lime-green-200: #c8fc9b;
  --lime-green-400: #9ff443;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ffffff;
    --blue-prime-600: #253bff;
    --blue-gray-300: #d0d5dd;
    --blue-gray-500: #667085;
    --blue-gray-800: #1d2939;
    --blue-gray-900: #101828;
    --lime-green-200: #c8fc9b;
    --lime-green-400: #9ff443;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
